.allUsers{
	margin-top:10px;
	width: 73%;
}

.allUsers table{
	width: 100%;
	border:1.5px solid rgb(100, 100, 110);
	border-radius: 5px;

}

.allUsers thead{
	text-align: left;

}

.allUsers th,td {
	width: 25%;	
	border-bottom: 1.5px solid rgb(100, 100, 110);
	border-collapse: collapse;
}

.allUsers tr:last-child td,th {
	border-bottom:none;
} 
	
